@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,500;1,800 & family= Raleway:ital,wght@ 0,100;0,400;0,500;1,200 & famille= Roboto+Mono:ital,wght@0,100;0,300;0,500;0,600;0,700;1,100;1,300;1,400;1,600;1,700 & famille= Roboto:ital,wght@0,100; 0,40 0 ; 0,500;1,100;1,300;1,400;1,500 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #21B66F;
}
.chronometre {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    width: 400px;
    text-align: center;

}
.time {
    margin: auto;
    width: 100%;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 5px 0;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 10px;
}
.time span {
    font-family: 'Dancing Script' , cursive;
    padding: 5px;
}
.control {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
button {
    background-color: #1d9c5e;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 31%;
    border: 0;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer;
}
button:hover {
    transform: scale(0.9);
}